.header{
    padding-left: 175px;
    display: flexbox;
    flex-direction: column;
}
p{
    padding-left: 5px;
}
.img-header{
    padding: 15px;
}
.ismael{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
h2{
    padding-inline: 250px;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
.tecnologias{
    width: 75px;
    height: 75px;
    padding-inline: 30px;
    padding-inline-start: 70px;
}
.nombres{
    padding-inline: 50px;
    padding-inline-start: 70px;
}
.trabajos{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding-inline: 50px;
}

.tabla1{
    padding-inline: 250px;
}